In [1]:
import pandas as pd

In [97]:
df = pd.read_csv(r'GDP.csv', sep = ',', header =2, decimal = '.')

In [100]:
df['Indicator Name'].unique()

array(['GDP (current US$)'], dtype=object)

In [92]:
lista1 = ['Country Name', 'Country Code']

In [93]:
lista2 = ['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017']

In [94]:
df = pd.melt(df, id_vars =lista1, value_vars =lista2)

In [95]:
df.columns= ['Nombre del País','Código del País','Años','PIB']

In [96]:
df

      Nombre del País Código del País  Años           PIB
0               Aruba             ABW  1960           NaN
1         Afghanistan             AFG  1960  5.377778e+08
2              Angola             AGO  1960           NaN
3             Albania             ALB  1960           NaN
4             Andorra             AND  1960           NaN
...               ...             ...   ...           ...
15307          Kosovo             XKX  2017  7.128691e+09
15308     Yemen, Rep.             YEM  2017           NaN
15309    South Africa             ZAF  2017  3.494193e+11
15310          Zambia             ZMB  2017  2.580867e+10
15311        Zimbabwe             ZWE  2017  1.784582e+10

[15312 rows x 4 columns]